<app-navbar></app-navbar>
<div class="landing">
  <div class="landing-content">
    <!-- Request nav tabs - implement navbar for this content-->
    <ul class="nav nav-tabs nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Pending</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#buzz" role="tab" data-toggle="tab">Approved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#references" role="tab" data-toggle="tab">Denied</a>
      </li>
    </ul>
    <app-request-viewer></app-request-viewer>
  </div>
</div>
